@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #253b8a;
  --secondary-color: #27292b;
  --success-color: #2842a3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Inter', 'sans-serif';
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(210, 185, 31);
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }
  .hide-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

.LeaveButton {
  background: none;
  appearance: none;
  background: nonw;
  padding: 5px;
  width: 26px;
  height: 26px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

.Message {
  padding: 5px 10px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  font-size: 16;
}

.MessageInput::placeholder {
  color: currentColor;
  font-weight: 300;
  font-size: 13px;
}

.Message.me {
  width: 80%;
  background-color: rgba(255, 255, 255, 0.05);
  align-self: flex-end;
}

.Message.other {
  width: 80%;
  background-color: rgba(255, 255, 255, 0.05);
  align-self: flex-start;
}

input:focus {
  outline: none;
}